<div class="page-header">
  <%= link_to images_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to image_generate_path(@image), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-download-alt"></span>
    Generate Files
  <% end %>
  <%= link_to edit_image_path(@image), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show image</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @image.name %></dd>

  <dt>Postgres:</dt>
  <dd><%= @image.postgres %></dd>

  <dt>Mysql:</dt>
  <dd><%= @image.mysql %></dd>

  <dt>Nginx:</dt>
  <dd><%= @image.nginx %></dd>

  <dt>Redis:</dt>
  <dd><%= @image.redis %></dd>

  <dt>Ruby version:</dt>
  <dd><%= @image.ruby_ver %></dd>

</dl>
